.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;

  .payment {
    border: 2px dotted orange;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-right: 128px;

    .text-input {
      margin-top: 12px;
      text-align: center;
    }

    .button-save-payment {
      margin-top: 12px;
      background-color: orange;
    }
  }
}
